# pycharm specific gitignore
.idea
*.pyc

# ignore folder to temporarely store files not needing to be pushed
ignore/

# ignore png's and root files in the results subdirectory
results/**/*.png
results/**/*.root

# root_files directory since the datafiles are too large
root_files/
root_files/*.root

# npz_files in the directory are ignored due to their size
npz_files/*.npz

# ignore example_code.py
# it is a redundant file just to test code
example_code.py