# dev related (pycharm specific gitignore)
.idea
*.pyc

# example scripts in the parent directory, mainly used for testing code
example.py

# ignore folder to temporarely store files not needing to be pushed
ignore/
test/
scripts/

# ignore .png, .root, .npz and .npy in results subdirectory
# files are too large and too many to properly comit
results/**/*.png
results/**/*.root
results/**/*.npz
results/**/*.npy

# data storage directories, as files are too large
/root_files/*.root
/datasets/*

# ignore the toy subdirectoy (temporary)
/toy/

# ignore pngs in main folder
*.png
